.left {
background-color: beige;
border: 1px solid black;
height: 350px;
width: 350px;
float: left;
}

.right {
background-color: grey;
border: 1px solid black;
height: 350px;
width: 350px;
float: right;
}

#left {
color: grey;
border: 1px dashed grey;
height: 220px;
width: 350px;
display: inline-block;
text-align: justify;
}

#right {
color: grey;
border: 1px dashed grey;
height: 220px;
width: 350px;
display: inline-block;
text-align: justify;
}