a {
  color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
p {
  color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
h1 {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
h2 {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
h3 {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
div {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
span {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
em {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
strong {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
u {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
ul {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
ol {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
table {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
img {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}
iframe {
    color: red; 
  border-color: red; 
  width: 500px;
  border: 1px solid;
}